<h2 id="title">Welcome to Ember</h2>

upload
{{cloudinary-img-upload cloudinaryId=cloudinaryId}}
view
{{cloudinary-img-view cloudinaryId=cloudinaryId cropData=cropData}}
crop
{{cloudinary-img-crop cloudinaryId=cloudinaryId cropData=cropData}}
